body {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    user-select: none; 
}

.navbar {
    background-color: #f2f2f2;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
}

.navbar .nav-link {
    color: black;
    font-weight: bold;
}

.navbar .form-control {
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    color: black;
    background-color: #ffffff55;
}

.navbar .btn {
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    color: black;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin: 30px;
    margin-bottom: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #ffffff55;
}

.card-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto 0; 
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1rem;
}

.card-footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.animation {
    position: absolute;
}

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
}

@keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;
    }
    75% {
      top: -3.6em;
    }
  }

.alertMsg {
  padding: 20px;
  background-color: #f44336;
  color: white;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


.successComment {
    padding: 20px;
    background-color: #28cb16;
    color: white;
    text-align: center;
    font-size: 50px;
  }
  
  .successCommentBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
  }
  
  .successCommentBtn:hover {
    color: black;
  }

  .deleteComment {
    padding: 20px;
    background-color: #ff0000;
    color: white;
    text-align: center;
    font-size: 50px;
  }
  
  .deleteCommentBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
  }
  
  .deleteCommentBtn:hover {
    color: black;
  }

#comment-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#comment-list .list-group-item {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#comment-form {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
}

#comment-form label {
    font-weight: bold;
}

#comment-form input[type="text"] {
    width: 100%;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#comment-form button {
    background-color: #ffc107;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#comment-list .list-group-item p,
#comment-list .list-group-item strong {
    margin: 0; 
}

#add-comment-container {
    display: flex;
    align-items: center;
    margin: 20px;
}

#add-comment-container input[type="text"] {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#add-comment-container button {
    background-color: #ffc107;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#add-comment-container button:hover {
    background-color: #ffdb58;
}

#newComment {
    margin-right: 20px;
    height: 150px;
    width: 100%;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 70px; 
  right: 20px; 
  background-color: #007bff;
  color: #fff; 
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.scroll-to-top-button:hover {
  background-color: #0056b3;
}

.scroll-to-bottom-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9998;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }

  .scroll-to-bottom-button:hover {
    background-color: #0056b3;
  }

#emoji-container {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    margin: 15px auto; 
    overflow: auto; 
    height: 50px;
}

.emoji-box {
    display: flex;
    align-items: center;
    width: 50%;
}

.emoji-option {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    user-select: none; 
}

.emoji-option:active {
    opacity: 0.5; 
}

#comment-form {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);

}

.comment-message {
    word-wrap: break-word;
    white-space: pre-wrap;
}

#inputBody {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.d-flex {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.commentBoxCs{
    margin: 10px;
    font-size: 20px;
}

#displayCategoryTable {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 1px black solid;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff55;
}

.allWarnings {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
}

.formContainerCreate {
    max-width: 400px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.containerLogin {
    max-width: 400px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.containerRegister {
    max-width: 400px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
}

.createNewSiteContainer {
    max-width: 400px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
}

.createNewNoteContainer {
    max-width: 400px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
}

.list-group-item {
    white-space: normal;
    display: block; 
    word-wrap: break-word;
}

#mc {
    white-space: normal;
    display: block; 
    word-wrap: break-word;
}

#inputTitle {
    align-items: center; 
    text-align: center; 
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
body {
    padding: 50px;
}

.card {
    width: 250px;
    height: 300px;
    margin: 5px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.card img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto 0; 
}
  }

