{% extends "capstone/layout.html" %}

{% block body %}
    <h2>Create New Topic</h2>

    {% if user.is_authenticated %}
    <form action="{% url 'create' %}" method="POST">

        {% csrf_token %}

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" class="form-control" id="content" name="content" placeholder="Enter Content">
        </div>
        <div class="form-group">
            <label for="category">Select Category</label>
            <select name="category" id="category">
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>    
    {% else %}
    <p>You must <strong><a href="{% url 'login' %}">login</a></strong> to add a topic.</p>
    <p>Don't have an account? <strong><a href="{% url 'register' %}">Register here.</a></strong></p>
    {% endif %}
{% endblock %}