{% extends "capstone/layout.html" %}

{% block body %}
    <h2 style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">Create New Topic</h2>

    {% if user.is_authenticated %}
    <form action="{% url 'create' %}" method="POST">

        {% csrf_token %}

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <input type="text" class="form-control" id="content" name="content" placeholder="Enter Content">
        </div>
        <div class="form-group">
            <label for="category">Select Category</label>
            <select name="category" id="category">
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>    
    {% else %}
    <div class="alert alert-info allWarnings">
        <strong>Do you want to create a new topic?</strong> You should <a href="{% url 'login' %}" class="alert-link">LOGIN</a> create a new topic.
    </div>

    <div class="alert alert-warning allWarnings">
        <strong>Don't have an account?</strong> Register <a href="{% url 'register' %}" class="alert-link">here</a>.
    </div>

    {% endif %}
{% endblock %}