{% extends "capstone/layout.html" %}

{% block body %}
    <h2>Inputs</h2>
    <form action="{% url 'displayCategory' %}" method="GET">
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <option value="">Select a Category</option>
            {% for category in categories %}
                <option value="{{ category.categoryName }}" {% if selected_category == category.categoryName %}selected{% endif %}>{{ category.categoryName }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-warning">Select</button>
    </form>

    {% for input in input %}
    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            {% if input.category.categoryImage %}
              <img src="{{ input.category.categoryImage.url }}" alt="{{ input.category.categoryName }}" style="width: 50px;">
            {% endif %}
            <div class="caption">
              <h3>{{ input.title }}</h3>
              <p>{{ input.content }}</p>
              <p><a href="{% url 'input' id=input.id slug=input.title|slugify %}" class="btn btn-primary" role="button">Button</a>
                <a href="{% url 'input' id=input.id slug=input.title|slugify %}" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
