{% extends "capstone/layout.html" %}

{% block body %}
    <h2>Categories</h2>
    <ul class="category-list">
        {% for category in categories %}
            <li>
                <a href="{% url 'displayCategory' %}?category={{ category.categoryName }}">
                    <img src="{{ category.img_url }}" alt="{{ category.categoryName }}" class="category-image">
                    {{ category.categoryName }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}