{% extends "capstone/layout.html" %}

{% block body %}
    <h2 style= "text-align: center;">FakirCode</h2>

    <div class="card-container">
        {% for category in categories %}
        <div class="card">
            {% if category.categoryImage %}
                <img class="card-img-top" src="{{ category.categoryImage.url }}" alt="{{ category.categoryName }}" class="category-image" style="height: 200px; width: 200px;">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'displayCategory' %}?category={{ category.categoryName }}"></a>{{ category.categoryName }}</h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer">
                <a href="{% url 'displayCategory' %}?category={{ category.categoryName }}" class="btn btn-primary">VIEW CONTENTS</a>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock %}