{% extends "capstone/layout.html" %}

{% block body %}
    <h2>Categories</h2>
    <ul class="category-list">
        {% for category in categories %}
        <li>
            <a href="{% url 'displayCategory' %}?category={{ category.categoryName }}">
                {% if category.categoryImage %}
                    <img src="{{ category.categoryImage.url }}" alt="{{ category.categoryName }}" class="category-image" style="width: 50px;">
                {% endif %}
                {{ category.categoryName }}
            </a>
        </li>
    {% endfor %}
    </ul>

    <form action="{% url 'search' %}" method="GET">
        <input type="text" name="query" placeholder="Search" />
        <button type="submit">Search</button>
    </form>
    

{% endblock %}