{% extends "capstone/layout.html" %}

{% block body %}

    <div class="row">
        {% if user.is_authenticated %}
            {% if isInputInBookmark %}
                <form action="{% url 'removeBookmark' id=input.id slug=input.title|slugify %}" method="POST">
            {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove Bookmark</button>
                </form>
            {% else %}
                <form action="{% url 'addBookmark' id=input.id slug=input.title|slugify %}" method="POST">
                {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add Bookmark</button>
                </form>
            {% endif %}
        {% endif %}
    </div>

    <h2>{{ input.title }}</h2>
    <p>{{ input.content }}</p>
    <h5>Url: {{ input.url }}</h5>
    <h5>Site: {{ input.sites }}</h5>
    <h5>Owner: {{ input.owner }}</h5>

    <h2>Comments</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'addComment' id=input.id slug=input.title|slugify %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Add Comment</label>
                <input type="text" name="newComment" placehold="Add new comment" id="">
                <button type="submit" class="btn btn-warning">Add</button>
            </div>
        </form>
    {% endif %}

    <ul class="list-group">
    {% for comment in allComments %}
        <li class="list-group-item">Comment: {{ comment.message }}
            <br>
            <p>Posted by <strong style="color: red;">{{ comment.author }}</strong></p>
        </li>
    {% endfor %}
    </ul>

{% endblock %}