{% extends "capstone/layout.html" %}

{% block title %}
    FakirCode - {{ input.title }}
{% endblock title %}

{% block body %}
<div class="row">
    {% if user.is_authenticated %}
        {% if isInputInBookmark %}
            <form action="{% url 'removeBookmark' id=input.id slug=input.title|slugify %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Remove Bookmark</button>
            </form>
        {% else %}
            <form action="{% url 'addBookmark' id=input.id slug=input.title|slugify %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Add Bookmark</button>
            </form>
        {% endif %}
    {% endif %}
</div>

<button type="submit" class="btn btn-danger">BACK</button>


<div class="container mb-5">
    <div class="row mb-5">
        <aside class="col-sm-12 col-md-3 col-xl-2 mb-2 px-2">
            <div class="row mx-0">
                <div class='col col-sm-4 col-md-12 mb-3 list-group list-group-flush'>
                    <div class="d-flex justify-content-between align-items-baseline border-bottom border-warning">
                        <h4><strong>FakirCode</strong></h4>
                    </div>
                </div>
                <div class='col col-sm-4 col-md-12 mb-3 list-group list-group-flush'>
                    <div class="d-flex justify-content-between align-items-baseline border-bottom border-warning">
                        <h5 class="d-flex">Sites</h5>
                        
                            <button class="btn btn-sm add_content no_outline" id='add_sites'><i class="fas fa-plus fa-xxs" title='Add Site'></i></button>
                       
                    </div>
                    <div id="linksContainer">
                        <a href="#" class="link list-group-item ms-1 px-1 py-1" target="_blank" rel="noopener noreferrer">##########<i class="fas fa-external-link-alt fa-xxs" title="Will open in a new tab"></i></a>
                    </div>
                </div>
                <div class='col col-sm-4 col-md-12 mb-3 list-group list-group-flush'>
                    <div class='d-flex justify-content-between align-items-baseline border-bottom border-warning'>
                        <h5 class="d-flex">Notes</h5>

                        <button class="btn btn-sm add_content no_outline" id='add_note' name='add_note'><i class="fas fa-plus fa-xxs" title='Add a note'></i></button>

                    </div>
                    <div id="notesContainer">
                        <a href="#" class="link list-group-item ms-1 px-1 py-2">{{ note.title }}<i class="fas fa-chevron-circle-right fa-xxs"></i></a>
                    </div>
                </div>
            </div>
        </aside>
        <main id="mc" class='col-sm-12 col-md-9 col-xl-10 px-2 p-sm-0'>
            <div>
                <div class="d-flex" style="align-items: center; 
                text-align: center; 
                display: flex;
                justify-content: center;
                margin-bottom: 20px;">
                    {% if input.category.categoryImage %}
                        <img src="{{ input.category.categoryImage.url }}" alt="{{ input.category.categoryName }}" style="width: 50px; height: 50px;">
                    {% endif %}
                    <h1 class="d-flex">{{ input.title }}</h1>
                </div>
                <p id="contentText">{{ input.content }}</p>
                <div id="iframe"></div>

                
                <div id="notesContent" style="display: none;">
                    {% if user.is_authenticated %}
                    <div class="card border-warning mb-3 ms-0 mt-0" style="width: 100%;">
                        <div class="card-header">YOUR NOTE</div>
                        <div class="card-body mt-0 pt-0">
                            <h4 class="card-title" id="notesContentTitle" style="color: red; font-weight: bold;">Note Title</h4>
                            <div class="card-text" id="notesContentContent">Note Content</div>
                        </div>
                        <div class="card-footer bg-light">
                            <button type="button" name="note_edit" class="btn btn-sm btn-warning" data-status="edit"><i class="far fa-edit"></i> edit</button>
                            <button type="button" name="note_delete" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i> delete</button>
                        </div>
                    </div>
                    {% else %}
                    <h1>----LOGIN----</h1>
                    {% endif %}
                </div>
                <div id="siteFormContainer" style="display: none;">
                    <h3>Create New Site</h3>
                    {% if user.is_authenticated %}
                    <form action="{% url 'add_site' input.id input.title|slugify %}" id="siteForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="site_name">Site Name</label>
                            <input type="text" class="form-control" id="site_name" name="site_name" placeholder="Enter Site Name">
                        </div>
                        <div class="form-group">
                            <label for="site_url">Site URL</label>
                            <input type="text" class="form-control" id="site_url" name="site_url" placeholder="Enter Site URL">
                        </div>
                        <button type="submit" class="btn btn-success" id="addSiteButton">Add</button>
                        <button type="button" class="btn btn-secondary" id="cancelButton">Cancel</button>
                    </form>
                    {% else %}
                    <p>----LOGIN----</p>
                    <form action="{% url 'add_site' input.id input.title|slugify %}" id="siteForm" method="POST"></form>
                    <button type="button" class="btn btn-secondary" id="cancelButton">Cancel</button>
                    {% endif %}
                </div>

                <div id="noteFormContainer" style="display: none;">
                    <h3>Create New Note</h3>  
                    {% if user.is_authenticated %}        
                    <form action="{% url 'add_note' input.id input.title|slugify %}" id="noteForm" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="note_title">Note Title</label>
                        <input type="text" class="form-control" id="note_title"name="note_title" placeholder="Enter Note Title">
                    </div>
                    <div class="form-group">
                        <label for="note_content">Note Content</label>
                        <input type="text" class="form-control" id="note_content"name="note_content" placeholder="Enter Note Content">
                    </div>
                    <button type="submit" class="btn btn-success" id="addNoteButton">Add</button>
                    <button type="button" class="btn btn-secondary" id="cancelNoteButton">Cancel</button>
                    </form>
                    {% else %}
                    <p>----LOGIN----</p>
                    <form action="{% url 'add_note' input.id input.title|slugify %}" id="noteForm" method="POST">
                    <button type="button" class="btn btn-secondary" id="cancelNoteButton">Cancel</button>
                    {% endif %}
                </div>
            </div>
        </main>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
        const addSiteButton = document.getElementById("add_sites");
        const siteFormContainer = document.getElementById("siteFormContainer");
        const cancelButton = document.getElementById("cancelButton");
        const contentText = document.getElementById("contentText");
        const iframeContainer = document.getElementById("iframe");
        let formVisible = false;
        const siteNameInput = document.getElementById("site_name");
        const siteURLInput = document.getElementById("site_url");

        const addNoteButton = document.getElementById("add_note");
        const noteFormContainer = document.getElementById("noteFormContainer");
        const cancelNoteButton = document.getElementById("cancelNoteButton");

        const notesContent = document.getElementById("notesContent");
        const notesContainer = document.getElementById("notesContainer");

        addNoteButton.addEventListener("click", function() {
            noteFormContainer.style.display = "block";
            siteFormContainer.style.display = "none";
            contentText.style.display = "none";
            iframeContainer.style.display = "none";
            notesContent.style.display = "none";
            formVisible = true;
        });

        cancelNoteButton.addEventListener("click", function() {
            siteFormContainer.style.display = "none";
            contentText.style.display = "block";
            iframeContainer.style.display = "block";
            formVisible = false;
            noteFormContainer.style.display = "none";
            notesContent.style.display = "none";
        });
        
        addSiteButton.addEventListener("click", function() {
            siteFormContainer.style.display = "block";
            contentText.style.display = "none";
            iframeContainer.style.display = "none";
            formVisible = true;
            noteFormContainer.style.display = "none";
            notesContent.style.display = "none";
        });

        cancelButton.addEventListener("click", function() {
            siteFormContainer.style.display = "none";
            contentText.style.display = "block";
            iframeContainer.style.display = "block";
            formVisible = false;
            noteFormContainer.style.display = "none";
            notesContent.style.display = "none";
        });

        const addSiteForm = document.getElementById("siteForm");

        addSiteForm.addEventListener("submit", function(event) {
            const siteNameInput = document.getElementById("site_name");
            const siteURLInput = document.getElementById("site_url");

            const siteName = siteNameInput.value;
            const siteURL = siteURLInput.value;

            const extractedSiteName = getSiteNameFromURL(siteURL);

            if (extractedSiteName) {
                siteNameInput.value = extractedSiteName;

                if (siteURL.includes("devdocs") || extractedSiteName.includes("devdocs")) {

                const iframe = document.createElement("iframe");
                iframe.src = siteURL;
                iframe.style.width = "100%";
                iframe.style.height = "500px";
                iframeContainer.innerHTML = '';
                iframeContainer.appendChild(iframe);
            } else {
                const newLink = document.createElement("a");
                newLink.href = siteURL; 
                newLink.target = "_blank"; 
                newLink.rel = "noopener noreferrer"; 
                newLink.innerText = extractedSiteName;           
                const linksContainer = document.querySelector("#linksContainer");
                linksContainer.appendChild(newLink);
            }

            siteFormContainer.style.display = "none";
            contentText.style.display = "block";
            formVisible = false;
        } else {
            alert("Error !!!");
        }
    });

    function getSiteNameFromURL(url) {
    const domainStart = url.indexOf("://") > -1 ? url.indexOf("://") + 3 : 0; 
    const pathStart = url.indexOf("/", domainStart); 
    

    const domainEnd = pathStart > -1 ? pathStart : url.length;
    

    const domain = url.substring(domainStart, domainEnd);
    
    const parts = domain.split(".");
    const extensions = [".com", ".net", ".org", ".xyz", ".io"];
    
    for (let i = 0; i < parts.length; i++) {
        const part = parts[i];
        if (i === 0) {

            if (part.startsWith("www")) {
                parts[i] = parts[i].substring(4);
            } else if (extensions.includes("." + part)) {
                parts.splice(i, 1);
                i--;
            }
        } else if (extensions.includes("." + part)) {

            parts.splice(i, 1);
            i--;
        }
    }
    

    const siteName = parts.join("");

    return siteName || null;
}



        fetch("{% url 'get_sites' input.id %}")
            .then(response => response.json())
            .then(data => {
                const linksContainer = document.getElementById("linksContainer");
                linksContainer.innerHTML = "";
                data.sites.forEach(site => {
                if (site.name.includes("devdocs") || site.url.includes("devdocs")) {
                    const iframe = document.createElement("iframe");
                    iframe.src = site.url;
                    iframe.style.width = "100%";
                    iframe.style.height = "500px";
                    iframeContainer.innerHTML = '';
                    iframeContainer.appendChild(iframe);

                    const devdocsLink = document.createElement("a");
                    devdocsLink.innerText = "devdocs";
                    devdocsLink.href = "#";
                    devdocsLink.className = "link list-group-item ms-1 px-1 py-1";
                    devdocsLink.style.backgroundColor = "#F2F2F2"
                    linksContainer.appendChild(devdocsLink);
                } else {
                    const newLink = document.createElement("a");
                    newLink.target = "_blank";
                    newLink.rel = "noopener noreferrer";
                    newLink.href = site.url.startsWith('http') ? site.url : 'http://' + site.url;
                    newLink.className = "link list-group-item ms-1 px-1 py-1";
                    newLink.innerHTML = site.name + ' <i class="fas fa-external-link-alt fa-xxs" title="Will open in a new tab"></i>';
                    newLink.style.backgroundColor = "#F2F2F2"
                    linksContainer.appendChild(newLink);
                }
        });
    });


    fetch("{% url 'get_notes' input.id %}")
    .then(response => response.json())
    .then(data => {
        const notesContainer = document.getElementById("notesContainer");
        notesContainer.innerHTML = "";
        data.notes.forEach(note => {
            const noteElement = document.createElement("a");
            noteElement.className = "link list-group-item ms-1 px-1 py-2";
            noteElement.innerHTML = `${note.title} <i class="fas fa-chevron-circle-right fa-xxs"></i>`;
            noteElement.style.backgroundColor = "#F2F2F2"
            noteElement.href = "#"
            notesContainer.appendChild(noteElement);
        });
    });
    

    fetch(`{% url 'get_notes' input.id %}`)
    .then(response => response.json())
    .then(data => {
        const notesData = data;

        document.getElementById("notesContainer").addEventListener("click", function(event) {
            notesContent.style.display = "block";
            contentText.style.display = "none";
            iframeContainer.style.display = "none";
            formVisible = true;
            noteFormContainer.style.display = "none";
            siteFormContainer.style.display = "none";
            if (event.target.tagName === "A") {
                event.preventDefault(); 
                const noteTitle = event.target.textContent.trim();
                const notesContent = document.getElementById("notesContent");
                const notesContentContent = document.getElementById("notesContentContent");
                const notesContentTitle = document.getElementById("notesContentTitle");

                const selectedNote = notesData.notes.find(note => note.title === noteTitle);

                if (selectedNote) {

                    if (notesContentTitle) {
                        notesContentTitle.innerHTML = `${selectedNote.title}`;
                    }
                    if (notesContentContent) {
                        notesContentContent.innerHTML = `${selectedNote.content}`;
                    }
                }
            }
        });
    });

    linksContainer.addEventListener("click", function(event) {
    if (event.target.tagName === "A") {
        const clickedLink = event.target;

        if (clickedLink.textContent.includes("devdocs")) {
            siteFormContainer.style.display = "none";
            contentText.style.display = "block";
            iframeContainer.style.display = "block";
            formVisible = false;
            noteFormContainer.style.display = "none";
            notesContent.style.display = "none";
        }
    }
});


    });
</script>
{% endblock %}
